body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header.hero {
    background: url('images\bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: left;
    padding: 10px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.text-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

.cta-button {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.image-content {
    flex: 1;
    animation: fadeIn 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.features, .how-it-works, .about-us, .contact {
    padding: 50px 20px;
    text-align: center;
}

.features h2, .how-it-works h2, .about-us h2, .contact h2 {
    margin-bottom: 20px;
}

.feature-cards, .steps, .team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-card, .step, .team-member {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s;
}

.feature-card:hover, .step:hover, .team-member:hover {
    transform: scale(1.05);
}

.feature-card i, .step i {
    font-size: 50px;
    color: #007BFF;
    margin-bottom: 10px;
}

.about-us p {
    margin-bottom: 30px;
}

.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    width: 80%;
    max-width: 600px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    background-color: #007BFF;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #007BFF;
}
